body
{
  background-color: #000000;
  font-size: 12px;
  color: #FFFFFF;
}
.titolo
{ 

  background-color: transparent;
  background-image: url("../images/cryptlogo.png");
  background-repeat:no-repeat;
  background-position: center;
  width: 100%;
  height: 167px;
  margin-top: 20px;
  margin-bottom: 20px;

}
.wrapper 
{ 
  padding-left: 15%;
  padding-right: 15%;
}


.situescion > .when
{
  margin-left: 10px;
}

.situescion > .where
{
  margin-left: 55px;
}

.situescion > .title
{
  margin-left: 80px;
}

.situescion > .desc
{ 
  margin-left: 110px;
}

.header 
{ 
  text-align: center;

}

.paragrafi
 { 
   background-color: #111111;
   font-size: 26px;
   font-family: Rockwell, Palatino, serif;
   padding: 20px;
   margin: 20px;
   text-align: center;
 }

.paragrafi:first-letter
{ 
  text-transform: uppercase;
}
.paragrafi em
{ 
  color: #ff0098;
  text-decoration: none;
  font-style: normal;
}
.paragrafi h
{ 
  color: #ff0098;
  font-style: bold;
  font-size: 30px;
}
.sottomenu
 { 
  text-align: center;
  margin: 10px;
 }
.sottomenu a{ 
  font-size: 16px;
  text-decoration: none;
  margin: 2px;
}
.sottomenu a:hover { 
  text-decoration: none;
  border-bottom: 1px white dotted;
}

.sottomenu a:active { 
  text-decoration: none;
  border-bottom: 1px white dotted;
}

.sottomenu a.clicked
{ 
  text-decoration: underline;
}

.titolo
{ 
  font-size: 39px;
  text-align: center;
}
.orario 
{ 
  font-size: 14px;
}
.orario div, .orario a
{ 
  color: #CCCCCC;
  font-size: 30px;
}